@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Open Sans', sans-serif;
	display: flex;
    flex-direction: column;
    background: #e5dbd4;
}

h1 {
	font-size: 40px;
	order: -2;
	text-align: center;
	padding: 20px;
}

ul {
    color:#000082;
    font-size: 40px;
    font-weight: 700;
}

li {
    padding-top: 20px;
}

h3 {
    color: #0001F9;
    font-size: 30px;
}

p {
    color: black; 
    font-size: 16px;
}

p:last-child {
    padding-bottom: 40px;
}

button {
	width: 150px;
	padding: 5px 10px;
	margin: auto;
	margin-bottom: 10px;
    font-size: 15px;
    border: none;
    outline: none;
    border-radius: 5px;
    background: #000082;
    color: #fff;
    cursor: pointer;
}

input {
	width: 300px;
	display: block;
	margin: 0 auto;
	order: -1;
	padding: 5px;
	margin-bottom: 20px;
}



h2, ul {
	text-align: center;
}

